<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Library{% endblock%}</title>
    {% block style %}{% endblock%}
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="{% url 'books_index' %}">Library</a>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock%} {% block scripts %}{% endblock%}
    <footer>
        <div>
            <span>
                <p>
                    &copy; Shiva Dey's Library {{year}}
                </p>
            </span>
        </div>
    </footer>
</body>

</html>