<!DOCTYPE html>
<html>
  <head>
    {% block style %}
        {{bootstrap.load_css()}}
    {% endblock %}
    <title>Secrets</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container px-5 py-5 my-5 w-50">
        <div class="row">
          <h1>Welcome</h1>
          <p>Are you ready to discover my secret?</p>
          <a class="btn btn-primary btn-lg col-md-2 offset-md-2" href=" {{ url_for('login') }} ">
            Login
          </a>
        </div>
      </div>
    </div>
    {%block scripts%}
        {{bootstrap.load_js()}}
    {%endblock%}
  </body>
</html>
