{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme='dark'>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Shiva's Site{% endblock title %}</title>
    <link rel="stylesheet" href="{% static " style.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    {% block style %}{%endblock style %}
</head>

<body>
    <div class="container nav-bar-overlay">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
            <a href="{% url "index" %}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Shiva's Blog</span>
            </a>

            <ul class="nav nav-hover">
                <li class="nav-item">
                    <a href="{% url "all-posts" %}" class="nav-link" aria-current="page">All Posts</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>
    {% block content %} {% endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="{% url "index" %}" class="nav-link px-2 text-body-secondary">Home</a></li>
              <li class="nav-item"><a href="{% url "all-posts" %}" class="nav-link px-2 text-body-secondary">All Posts</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 @Shiva's Blog</p>
          </footer>

    {% block script %}{% endblock script %}
</body>

</html>