body{
    font-family: sans-serif;
    font-size: 20px;
    background-color: beige;
    margin: 0;
}

.header-container{
    background-color: cadetblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 0 3rem;
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer-container{
    background-color: cadetblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 5rem 3rem 0rem 3rem;
    padding: 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.header-container a{
    text-decoration: none;
    color: aliceblue;
}

.header-container a:hover,
.header-container a:active{
    color: antiquewhite;
}
nav{
    display: inline;
    margin-right: 10px;
}

form{
    margin: 5rem auto;
    width: fit-content;
    max-width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: cadetblue;
    padding: 20px;
    border-radius: 12px;
}

input[type="file"]::-webkit-file-upload-button {
    border: none;
    border-radius: 12px;
    font-size: large;
    padding: 10px;
    background-color: #157578;
    color: white;
    cursor: pointer;
}

input{
    color: beige;
    font-size: large;
    margin: 15px 15px;
    border-radius: 12px;
    height: 40px;
    display: block;
    justify-content: end;
    width: 20rem;
}

input:focus{
    color: black;
}

button{
    background-color: #157578;
    border-radius: 12px;
    border: none;
    font-size: large;
    padding: 10px;
    color: white;
    margin-top: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

button:hover,
button:active{
    background-color: #03696d;
    color: beige;
}

.footer-container footer{
    margin: auto auto;
    width: fit-content;
    max-width: 90%;
    color: aliceblue;
    letter-spacing: 2px;
}

.user-profile li{
    background-color: cadetblue;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 5rem auto;
    width: 300px;
    max-width: 90%;
    padding: 20px;
    border-radius: 12px;
    color: beige;
}

.user-profile{
    list-style: none;
}

form label{
    color: beige;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 2px solid #03696d;
}

.user-profile li p{
    display: flex;
    justify-content: center;
}




