{% extends "base.html" %} {% load static %} {% block title %}All My
Posts{%endblock %} {% block style %}
<link rel="stylesheet" href="{%static 'blog/all_posts.css'%}" />
<link rel="stylesheet" href="{%static 'blog/includes/post.css'%}" />
{% endblock style %} {% block content %}

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <h2 class="my-5">My collected Posts</h2>
    {% for post in posts%}
    <div class="col-lg-3 col-sm-12 col-md-6 mx-auto">
      {% include "blog\includes\post.html" %}
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
